.devsite-warning {
	width: 200px;
	height: 50px;
	overflow: hidden;
	position: fixed;
	display: grid;
	place-content: center;
	z-index: 999;
	padding: 1rem;
}

.devsite-warning__bg {
	width: 400%;
	height: 400%;
	background: linear-gradient(0.33turn, #e80025, #ffd9df, #f6c492, #818ab5);
	background-size: 100% 100%;
	animation: devsiteWarningCSSanimation 12s ease infinite;
	position: absolute;
	z-index: 1;
}

.devsite-warning__txt {
	position: relative;
	z-index: 999;
}

@keyframes devsiteWarningCSSanimation {
	0% {
		transform: translate(0, -50%);
	}

	50% {
		transform: translate(-75%, 0);
	}

	100% {
		transform: translate(0, -50%);
	}
}
